# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Entorno virtual
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Credenciales — NUNCA subir esto
settings_local.py

# Sistema
.DS_Store
Thumbs.db
*.swp

# IDE
.vscode/
.idea/

# Distribución
dist/
build/
*.egg-info/